//Variables, mixins, imports, etc

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//vars
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 14px;

@import 'sass-bootstrap/lib/bootstrap';


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($start), to($stop));
  background: -ms-linear-gradient(bottom,
                                  $start,
                                  $stop);
  background: -moz-linear-gradient(center bottom,
                                   $start 0%,
                                   $stop 100%);
  background: -o-linear-gradient($stop,
                                 $start);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($stop)}', GradientType=0); // IE9 and down
}

@font-face {
  font-family: 'kenpeltzer';
  src: url('../fonts/kenpeltzer.eot?56884864');
  src: url('../fonts/kenpeltzer.eot?56884864#iefix') format('embedded-opentype'),
       url('../fonts/kenpeltzer.woff?56884864') format('woff'),
       url('../fonts/kenpeltzer.ttf?56884864') format('truetype'),
       url('../fonts/kenpeltzer.svg?56884864#kenpeltzer') format('svg');
  font-weight: normal;
}



//Main CSS
body{

    @media (max-width: $screen-xs-max) {
        font-size: 10px;            
    }

    .page-header {
        text-align: center;
    }

    .masthead {
        padding-bottom: 40px;
    }

    .social-button {
        font-family: "kenpeltzer";
        background: #404042;
        padding: 0.4em 0.85em;
        border-radius: 15px;
        color: #ebebeb;
        font-size: 2.7vw;
        box-sizing: border-box;
        min-width: 3em;
        background-size: 100% 90px;
        background-position: 0 -30px;
        transition: all 100ms linear;
        @include gradient(#404042, #2D2D2E, #59595C);

        &:hover {
            @include gradient(#ebebeb, #C9C9C9, #ebebeb);
            background-position: 0 0;
        }

        &.facebook {
            span:before {
                content: '\e801';
            }
        }

        &.twitter {
            span:before {
                content: '\e803';
            }
        }

        &.github {
            span:before {
                content: '\e804';
            }
        }

        &.foursquare {
            span:before {
                content: '\e800';
            }
        }

        &.linkedin {
            span:before {
                content: '\e802';
            }
        }
    }

    .section-link {
        text-transform: uppercase;
        a:hover{
            text-decoration: none;
        }
        
    }

    #aboutme {
        h1 {
            font-size: 4.2em;
        }

        .lead {
            font-size: 2.2em;
        }

        p {
            line-height: 1.7;
            font-size: 16px;
        }
    }
}

