
//Variables, mixins, imports, etc

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 14px;


//Text colors
$black: #505050;
$black-lighter: lighten($black, 7%);

$gray: lighten(#000, 33.5%) !default; // #555
$light-gray: #b3b3b3;
$link-color: $gray;

$white: #ffffff;

@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($start), to($stop));
  background: -ms-linear-gradient(bottom,
                                  $start,
                                  $stop);
  background: -moz-linear-gradient(center bottom,
                                   $start 0%,
                                   $stop 100%);
  background: -o-linear-gradient($stop,
                                 $start);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($stop)}', GradientType=0); // IE9 and down
}


//Import Bootstrap
@import 'sass-bootstrap/lib/bootstrap';

//Import fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: 'kenpeltzer';
  src: url('../fonts/kenpeltzer.eot?56884864');
  src: url('../fonts/kenpeltzer.eot?56884864#iefix') format('embedded-opentype'),
       url('../fonts/kenpeltzer.woff?56884864') format('woff'),
       url('../fonts/kenpeltzer.ttf?56884864') format('truetype'),
       url('../fonts/kenpeltzer.svg?56884864#kenpeltzer') format('svg');
  font-weight: normal;
}



//Main CSS
body{

    @media (max-width: $screen-xs-max) {
        font-size: 10px;            
    }

    @media (min-width: $screen-lg) {
        font-size: 16px;            
    }

    .page-header {
        text-align: center;
    }

    .masthead {
        padding-bottom: 40px;
    }

    .social-button {
        font-family: "kenpeltzer";
        background: $white;
        padding: 0.4em 0.85em;
        border-radius: 10px;
        color: $black;
        font-size: 2.5em;
        box-sizing: border-box;
        min-width: 3em;
        background-size: 100% 90px;
        background-position: 0 -30px;
        transition: all 100ms linear;
        border-color: #ebebeb;
        @include gradient($white, $white, $white);

        &:not(:last-child) {
          margin-right: 2.0em;

          @media (max-width: $screen-xs-max) {
            margin-right: 0;
          }

        }

        &:hover {
            //@include gradient($black, $black, $black-lighter);
            @include gradient($white, $black, $black-lighter);
            background-position: 0 0;
            border-color: #d9d9d9;
            color: $white;
        }

        &:focus {
          outline: none;
        }

        &.facebook {
            span:before {
                content: '\e801';
            }
        }

        &.twitter {
            span:before {
                content: '\e803';
            }
        }

        &.github {
            span:before {
                content: '\e804';
            }
        }

        &.foursquare {
            span:before {
                content: '\e800';
            }
        }

        &.linkedin {
            span:before {
                content: '\e802';
            }
        }
    }

    .section-link {

        text-transform: uppercase;
        text-align: center;

        a {
          &:hover{
            text-decoration: underline;
          }
        }
        
    }

    .back-button {
      font-size: 1.2em;
      margin-left: 1em;
    }

    #aboutme {
        h1 {
            font-size: 4.2em;
        }

        .lead {
            font-size: 2.2em;
        }

        p, ul, li {
            line-height: 1.7;
            font-size: 16px;
        }
    }

    .projects {
        font-family: 'Lato', sans-serif !important;

        p {
          color: $light-gray;
          font-size: 1.1em;
        } 
    }
}

