<div class="row">
  <div class="col-md-8 col-md-offset-2 masthead">
    <h1>testetsteests</h1>
    <h class="hidden">Ken Peltzer</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 social-buttons">
      <button class="btn btn-default btn-lg facebook social-button">
        <span></span>
      </button>
      <button class="btn btn-default btn-lg twitter social-button">
        <span></span>
      </button>
      <button class="btn btn-default btn-lg github social-button">
        <span></span>
      </button>
      <button class="btn btn-default btn-lg linkedin social-button">
        <span></span>
      </button>
      <button class="btn btn-default btn-lg foursquare social-button">
        <span></span>
      </button>
  </div>
</div>